<div class="carousel carousel-slider center" data-indicators="true">
    <div class="carousel-fixed-item center">
      <div class="col m12">
        <div class="col m6">
          <%= link_to "Star a Campaign", new_campaign_path,class:"modal-action modal-close modal-action waves-effect waves-light btn"%>
        </div>
      </div>
    </div>
    <div class="carousel-item white-text" href="#one!">
<%= image_tag("slider/2.jpg", class:"silider")%>
      <h2 class="white text">First Panel</h2>
      <p class="white-text">This is your first panel</p>      
    </div>
    <div class="carousel-item amber white-text" href="#two!">
<%= image_tag("slider/as.jpg", class:"silider")%>
      <h2 class="white text">Second Panel</h2>
      <p class="white-text">This is your second panel</p>
    </div>
    <div class="carousel-item green white-text" href="#three!">
<%= image_tag("slider/3.jpg", class:"silider")%>
      <h2 class="white text">Third Panel</h2>
      <p class="white-text">This is your third panel</p>
    </div>
    <div class="carousel-item blue white-text" href="#four!">
<%= image_tag("slider/4.jpg", class:"silider")%>   
      <h2 class="white text">Fourth Panel</h2>
      <p class="white-text">This is your fourth panel</p>
    </div>
  </div>

<div class="divider"></div>
<div class="row">
  <% @campaigns.each do |campaign| %>
      <% if campaign.goal>=campaign.collection(campaign.id)  %>
        <div class="col s12 m4">
              <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                <%= image_tag campaign.avatar.url(:medium),class:"size" %>
                </div>
                <div class="card-content">
                  <center>
                    <span class="card-title activator grey-text text-darken-4"><%= campaign.title %><i class="material-icons right">more_vert</i></span>
                  </center>
                  <%= link_to 'View',campaign,class:"modal-action modal-close modal-action waves-effect waves-light btn" %>
                </div>
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4"><%= campaign.title %><i class="material-icons right">close</i></span>
                  <p>Goal: <%= campaign.goal %></p>
                  <p>Collection</p>
                  <div class="progress">
                    <div class="determinate" style="width: <%= campaign.progress(campaign.id) %>%"></div>
                  </div>
                  <p>Created at: <%= campaign.created_at %></p>
                  <p>Created by: <%= campaign.user.name %></p>
                </div>
              </div>
        </div>
      <% end %>
  <% end %>
</div>

<script>
    $('.carousel.carousel-slider').carousel({fullWidth: true});
</script>