<%= form_for(campaign) do |f| %>
    <% if @campaign.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(@campaign.errors.count, "error") %> have prevented the book from being recorded
          </h2>
          <ul>
            <% @campaign.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="row">
      <div class="col s12 m6">
        <div class="card white darken-1">
          <div class="card-content black-text">
            <span class="card-title">Sign up</span>
            <div class="field">
              <%= f.label :title %>
              <%= f.text_field :title %>
            </div>

            <div class="field">
              <%= f.label :description %>
              <%= f.text_field :description %>
            </div>

            <div class="field">
              <%= f.label :review %>
              <%= f.text_area :review %>
            </div>

            <div class="field">
              <%= f.label :category %>
              <%= f.select :category , options_for_select([["Education", "e"], ["Medicine", "m"]])%>
            </div>

            <div class="actions">
              <%= f.submit "Save", class:"waves-effect waves-light btn" %>
            </div>
          </div>
        </div>
      </div>
    </div>
<% end %>

<script>
    $('.datepicker').pickadate({
        selectMonths: true, // Creates a dropdown to control month
        selectYears: 15 // Creates a dropdown of 15 years to control year
    });
</script>