<nav>
  <div class="nav-wrapper">
    <%= link_to "GoFundMe", root_path, class: "brand-logo" %>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><%=	link_to "CAMPAIGNS" %></li>
      <li><%=	link_to "SIGN IN" %></li>
      <li><%=	link_to "LOGIN", new_user_session_path %></li>
      <li><%=	link_to "CONTACT US",new_user_registration_path %></li>
    </ul>
  </div>
</nav>
