<!DOCTYPE html>
<html>
  <head>
    <title>GoFundMe</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>
  <% if current_user %>
      <nav>
        <div class="nav-wrapper">
          <%= link_to "GoFundMe", root_path, class: "brand-logo logo" %>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><%=	link_to "CAMPAIGNS",campaigns_path %></li>
            <li><%=	link_to "STAR A CAMPAIGN",new_campaign_path %></li>
            <li><%=	link_to "DASHBOARD",pages_dashboard_path %></li>
            <li><a class="dropdown-button" href="#" data-activates="dropdown1"><%= current_user.email %><i class="material-icons right">arrow_drop_down</i></a></li>
            <%= image_tag current_user.avatar.url(:thumb), class:"circle responsive-img"%>
            <ul id="dropdown1" class="dropdown-content">
              <li><%=	link_to "PROFILE",pages_profile_path%></li>
              <li><%=	link_to "LOGOUT", destroy_user_session_path, method: :delete %></li>
            </ul>
          </ul>
        </div>
      </nav>
  <% else %>
      <nav>
        <div class="nav-wrapper">
          <%= link_to "GoFundMe", root_path, class: "brand-logo" %>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><%=	link_to "CAMPAIGNS",campaigns_path %></li>
            <li><%=	link_to "SIGN IN",new_user_registration_path %></li>
            <li><%=	link_to "LOGIN", new_user_session_path %></li>
            <li><%=	link_to "CONTACT US" %></li>
          </ul>
        </div>
      </nav>
  <% end %>
  
  <main class="light-blue lighten-5">
  <div class="container ">
    <% if notice %>
        <p class="alert alert-success">
            <script>
                $(function() {
                  Materialize.toast("<%= notice %>", 3000);
                });
            </script>
        </p>
    <% end %>
    <% if alert %>
        <p class="alert alert-danger">
            <script>
                $(function() {
                  Materialize.toast("<%= alert %>", 3000);
                });
            </script>
        </p>
    <% end %>
    <%= yield %>

    </main>
  </div>
  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Team</h5>
          <p class="grey-text text-lighten-4">Luis - Marcial </p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Tools</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="http://materializecss.com/">Materialize</a></li>
            <li><a class="grey-text text-lighten-3" href="https://github.com/plataformatec/devise">Devise</a></li>
            <li><a class="grey-text text-lighten-3" href="https://rubygems.org/">RubyGems.org</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        © 2017 Unitec
      </div>
    </div>
  </footer>
  </body>
</html>
