<!DOCTYPE html>
<html>
  <head>
    <title>GoFundMe</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if current_user %>
      <nav>
        <div class="nav-wrapper">
          <%= link_to "GoFundMe", root_path, class: "brand-logo" %>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><%=	link_to "CAMPAIGNS" %></li>
            <li><%=	link_to "STAR A CAMPAIGN" %></li>
            <li><%=	link_to "DASHBOARD" %></li>
            <li><%=	link_to "PROFILE"%></li>
            <li><%=	link_to "LOGOUT", destroy_user_session_path, method: :delete %></li>
            <li><%=	link_to "CONTACT US" %></li>
          </ul>
        </div>
      </nav>
  <% else %>
      <nav>
        <div class="nav-wrapper">
          <%= link_to "GoFundMe", root_path, class: "brand-logo" %>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><%=	link_to "CAMPAIGNS" %></li>
            <li><%=	link_to "SIGN IN",new_user_registration_path %></li>
            <li><%=	link_to "LOGIN", new_user_session_path %></li>
            <li><%=	link_to "CONTACT US" %></li>
          </ul>
        </div>
      </nav>
  <% end %>
    <%= yield %>
  </body>
</html>
